<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row >
                    <v-col cols="10">
                        <v-expansion-panels  v-model="panel"  multiple flat>
                            <v-expansion-panel>
                                <v-expansion-panel-header>General</v-expansion-panel-header>
                                <v-expansion-panel-content  >
                                    <v-text-field v-model="product.title"  label="Title" required></v-text-field>
                                    <v-text-field v-model="product.name"  label="Name" required></v-text-field>
                                    <v-text-field v-model="product.sku"   label="Sku" required></v-text-field>
                                </v-expansion-panel-content>
                            </v-expansion-panel>

                        </v-expansion-panels>
                    </v-col>
                    <v-col cols="2">
                        <v-switch v-model="product.is_active" :label="`Αctive: ${product.is_active.toString()}`"></v-switch>
                        <v-select v-model="product.product_type" :items="['simple', 'configurable', 'grouped', 'dynamic']" label="Τύπος Προϊόντως"></v-select>
                        <v-progress-linear
                            v-if="saveProductLoader"
                            color="deep-purple accent-4"
                            indeterminate
                            rounded
                            height="6"
                        ></v-progress-linear>
                        <v-btn v-on:click="createProduct">ΔΗΜΙΟΥΡΓΙΑ</v-btn>

                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";
    import calculator from "../elements/calculator";
    import inventory from "../elements/inventory";
    import draggable from 'vuedraggable'

    export default {

        components: {},

        data: () => ({
            saveProductLoader:0,
            panel: [0],  //set active expansion
            product: {
                'title': null,
                'name': null,
                'sku': null,
                'is_active': 0,
                'product_type': 'simple',
            },
        }),
        methods: {
            createProduct(){
                var self = this;
                this.saveMessages = [];
                axios.post('/manage/products/store', this.product)
                    .then(function (response) {
                        // show alert product update
                        console.log(response.data)
                        window.location.href = "/manage/products/"+response.data.id;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                    });
            },

        },
        mounted() {

         }

    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
    .v-expansion-panel {
        border-bottom: solid 1px #eee;
    }

</style>

