<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>

            <v-container fluid>
                <v-row>
                    <v-col cols="9">
                        <v-expansion-panels md="4" v-model="panel" multiple>
                            <v-expansion-panel>
                                <v-expansion-panel-header>General</v-expansion-panel-header>
                                <v-expansion-panel-content>


                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field v-model="product.title.el" label="Title" required></v-text-field>
                                        </v-col>
                                        <v-col cols="5">
                                            <v-text-field v-model="product.name" label="Name" required></v-text-field>
                                        </v-col>
                                        <v-col cols="1">
                                           <a :href="'/'+product.name" target="_blank"> View</a>
                                        </v-col>
                                        <v-col cols="3">
                                            <v-text-field v-model="product.sku" label="Sku" required></v-text-field>
                                        </v-col>
                                        <v-col cols="3">
                                            <v-text-field v-model="product.price" label="Price" required></v-text-field>
                                        </v-col>
                                        <v-col cols="3">
                                            <v-text-field v-model="product.special_price" label="Special Price"
                                                          required></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-expansion-panel-content>
                            </v-expansion-panel>

                            <v-expansion-panel>
                                <v-expansion-panel-header>Περιεχόμενο</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-text-field v-model="product.small_description" label="Small Description"
                                                  required></v-text-field>
                                    <quill-editor
                                        :content="product.description"
                                        :options="editorOption"
                                    />


                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- fields -->
                            <v-expansion-panel>
                                <v-expansion-panel-header>Πεδία</v-expansion-panel-header>
                                <v-expansion-panel-content>

                                    <div v-for="(field, fieldKey) in fieldWithValues" :key="field.id">
                                        <div v-if="field.field.position != 1">
                                            <v-row>
                                                <v-col cols="10">
                                                    <div v-if="field.field.type == 'textarea'">
                                                        {{ (field.values[0] != undefined) ? field.values[0].title : field.field.value }}
                                                        <tiptap-vuetify
                                                            v-if="field.field.value"
                                                            @change="updateTextFieldValue(fieldKey)"
                                                            v-model="field.values[0].body"
                                                            :extensions="extensions"
                                                        />
                                                        <!--                                                        <tiptap-vuetify-->
                                                        <!--                                                            v-if="!field.field.value"-->
                                                        <!--                                                            @change="updateTextFieldValue(fieldKey)"-->
                                                        <!--                                                            v-model="field.field.value"-->
                                                        <!--                                                            :extensions="extensions"-->
                                                        <!--                                                        />-->


                                                    </div>
                                                    <div v-if="field.field.type =='text'">

                                                        <v-text-field v-model="field.values"
                                                                      @change="updateTextFieldValue(fieldKey)"
                                                                      :label="field.field.title"
                                                                      required></v-text-field>
                                                        <!--                                                        <v-text-field  v-if="!field.field.value"  v-model="field.field.value"  :label="field.field.title" required></v-text-field>-->
                                                    </div>
                                                    <div v-if="field.field.type == 'select'">

                                                        <v-select
                                                            v-model="field.field.value"
                                                            :multiple="true"
                                                            :label="field.field.title"
                                                            :items="field.values"
                                                            item-text="title"
                                                            item-value="id"
                                                        >
                                                        </v-select>
                                                    </div>
                                                </v-col>
                                                <v-col cols="2">
                                                    <v-dialog v-model="newAttribute[fieldKey]" persistent
                                                              max-width="600px">
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-btn
                                                                color="primary"
                                                                dark
                                                                v-bind="attrs"
                                                                v-on="on"
                                                            >
                                                                Νεο
                                                            </v-btn>
                                                        </template>
                                                        <v-card>
                                                            <v-card-title>
                                                                <span class="headline">Νέα Τιμή </span>
                                                            </v-card-title>
                                                            <v-card-text>
                                                                <v-container>
                                                                    <v-row>
                                                                        <v-col cols="12" sm="6" md="4">
                                                                            <v-text-field label="Tιμή"
                                                                                          v-model="setNewAttribute"
                                                                                          required></v-text-field>
                                                                        </v-col>

                                                                    </v-row>
                                                                </v-container>
                                                                <small>*indicates required field</small>
                                                            </v-card-text>
                                                            <v-card-actions>

                                                                <v-spacer></v-spacer>

                                                                <v-btn color="blue darken-1" text
                                                                       @click="closeDialog(fieldKey)">Κλείσιμο
                                                                </v-btn>
                                                                <v-btn color="blue darken-1" text
                                                                       @click="addFieldNewAttribute(field);closeDialog(fieldKey)">
                                                                    Αποθήκευση
                                                                </v-btn>
                                                            </v-card-actions>
                                                        </v-card>
                                                    </v-dialog>

                                                </v-col>
                                            </v-row>
                                        </div>
                                    </div>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- end fields -->

                            <!-- Media -->
                            <v-expansion-panel>
                                <v-expansion-panel-header>Media</v-expansion-panel-header>
                                <v-expansion-panel-content>

                                    <div class="col-md-3" v-if="image">
                                        <img :src="image" class="img-responsive" height="70" width="90">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="file" multiple v-on:change="onImageChange" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-success btn-block" @click="uploadImage">Upload Image
                                        </button>
                                    </div>

                                    <v-simple-table>

                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">Created At</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="media in medias" :key="media.id">
                                                <td><img :src="media.path" width="100" height="100" alt=""></td>
                                                <td>{{media.name}}</td>
                                                <td>{{ media.created_at }}</td>
                                                <td><button class="btn btn-danger" @click="deleteMedia(media.id)">DELETE</button></td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- category -->
                            <v-expansion-panel>
                                <v-expansion-panel-header>Κατηγορίες</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-treeview
                                        item-text="title"
                                        selectable
                                        multiple-active
                                        v-model="renderProductCategories"
                                        selected-color="blue"
                                        :items="categories"
                                        selection-type="independent"

                                    ></v-treeview>

                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- seo -->
                            <v-expansion-panel>
                                <v-expansion-panel-header>Seo</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-text-field v-model="product.meta_title" label="Meta Title"
                                                  required></v-text-field>

                                    <v-textarea
                                        auto-grow
                                        filled
                                        :name="product.meta_description"
                                        label="Description"
                                        v-model="product.meta_description"
                                        :value="product.meta_description"
                                    ></v-textarea>

                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!--  inventory -->
                            <v-expansion-panel>
                                <v-expansion-panel-header>Αποθήκη</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <inventory :product="product" @setInventory="setInventory"></inventory>

                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- calculator -->
                            <v-expansion-panel v-if="product.product_type == 'dynamic'">


                                <v-expansion-panel-header>Calculator</v-expansion-panel-header>

                                <v-expansion-panel-content>
                                    <calculator :fields="fields" :query="calculatorquery"
                                                @setCalculator="setCalculator"></calculator>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                        <hr>
                        <v-btn small color="error" v-on:click="deleteProduct">ΔΙΑΓΡΑΦΗ ΠΡΟΪΟΝΤΩΣ</v-btn>
                    </v-col>
                    <v-col cols="3">

                        <v-switch v-model="product.is_active"
                                  :label="`Αctive: ${product.is_active.toString()}`"></v-switch>
                        <v-switch v-model="product.is_featured" :label="`Feautered: ${product.is_featured.toString()}`"></v-switch>
                        <v-select v-model="product.product_type"
                                  :items="['simple', 'configurable', 'grouped', 'dynamic']"
                                  label="Product Type"></v-select>

                        <v-select v-model="product.rule_id" label="εκπτωση">
                            <option value="1">123</option>
                        </v-select>
                        <v-progress-linear
                            v-if="saveProductLoader"
                            color="deep-purple accent-4"
                            indeterminate
                            rounded
                            height="6"
                        ></v-progress-linear>
                        <v-btn v-on:click="updateProduct">Update Product</v-btn>
                        <div v-for="m in saveMessages">
                            {{ m }}
                        </div>

                    </v-col>
                </v-row>


            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import navbar from "../elements/navbar";
import calculator from "../elements/calculator";
import inventory from "../elements/inventory";
import draggable from 'vuedraggable'
import {
    TiptapVuetify,
    Heading,
    Bold,
    Italic,
    Strike,
    Underline,
    Code,
    Paragraph,
    BulletList,
    OrderedList,
    ListItem,
    Link,
    Blockquote,
    HardBreak,
    HorizontalRule,
    History
} from 'tiptap-vuetify'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import {quillEditor} from 'vue-quill-editor'

export default {

    components: {TiptapVuetify, navbar, calculator, draggable, inventory, quillEditor},
    props: ['product', 'calculatorquery', 'productcategories'],
    data: () => ({
        content: `
      <h1>Yay Headlines!</h1>
      <p>All these <strong>cool tags</strong> are working now.</p>
    `,
        extensions: [
            History,
            Blockquote,
            Link,
            Underline,
            Strike,
            Italic,
            ListItem,
            BulletList,
            OrderedList,
            [Heading, {
                options: {
                    levels: [1, 2, 3]
                }
            }],
            Bold,
            Code,
            HorizontalRule,
            Paragraph,
            HardBreak
        ],
        editorOption: {
            // Some Quill options...
        },
        setNewAttribute: '',
        newAttribute: [],
        inventoryCombinations: [{}],
        inventoryAttributes: [{}],
        panel: [0],  //set active expansion
        has_variations: 0,
        stock: [],
        fields: [],
        selectedFields: [],
        // fieldValues: [],
        fieldWithValues: [],
        saveMessages: [],
        categories: [],
        addvalue: [],
        medias: [],
        image: '',
        newMedia: {},
        saveProductLoader: false,
    }),
    methods: {
        closeDialog(fieldKey) {

            this.newAttribute[fieldKey] = false;

            this.$forceUpdate();
        },
        addFieldNewAttribute(field) {
            axios.post('/manage/fields/add_field_attribute', {field: field, value: this.setNewAttribute})
                .then(function (response) {
                    // f alert product update
                    this.setNewAttribute = '';
                    // this.getFields();

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateTextFieldValue(field) {
            if (this.fieldWithValues[field].field.oldvalue == undefined) {
                this.fieldWithValues[field].field.oldvalue = this.fieldWithValues[field].field.value[0];
            }
            this.fieldWithValues[field].field.value = this.fieldWithValues[field].values;
            //    field.field.value = field.values[0].title
        },
        deleteProduct() {
            var answer = window.confirm("Διαγραφή Προϊόντος?")
            if (answer) {
                var self = this;
                axios.post('/manage/products/' + this.product.id + '/destroy')
                    .then(function (response) {
                        window.location.href = '/manage/products/';
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        },
        updateProduct() {
            var self = this;
            this.saveMessages = [];
            axios.post('/manage/products/' + this.product.id + '/update', this.product)
                .then(function (response) {

                    // show alert product update
                    this.updateStock();
                    this.updateCalculator();
                    this.updateCategories();
                    this.updateFields();

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                }).then(function () {
                self.saveMessages = [];
            });
        },
        updateFields() {
            axios.post('/manage/products/' + this.product.id + '/fields/update', this.fields)
                .then(function (response) {
                    // show alert product update
                    console.log('fields update')
                    console.log(response.data)

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },

        updateCategories() {
            axios.post('/manage/products/' + this.product.id + '/categories/update', this.productcategories)
                .then(function (response) {
                    // show alert product update
                    console.log(response.data)

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateCalculator() {
            axios.post('/manage/products/' + this.product.id + '/calculator/update', this.calculatorquery)
                .then(function (response) {
                    // show alert product update
                    this.loadingPercentage = '20%';
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateStock() {
            var self = this

            axios.post('/manage/products/' + this.product.id + '/stock/update', self.stock)
                .then(function (response) {
                    // show alert stock  update
                    this.saveMessages.push('Εργασίες Αποθήκης ολοκληρώθηκαν ')

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        getFields: function () {
            var self = this;
            axios.get('/manage/fields/get_fields')
                .then(function (response) {
                    self.fields = response.data;
                    self.setFieldValues();
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        setFieldValues: function () {
            for (var a = 0; a < this.fields.length; a++) {
                this.newAttribute[a] = false
                if (this.fields[a].position != 1) {
                    this.fields[a]['value'] = [];
                    if (this.product[this.fields[a]['name']] != undefined) {
                        for (var b = 0; b < this.product[this.fields[a]['name']].length; b++) {
                            this.fields[a]['value'].push(this.product[this.fields[a]['name']][b]['id']);
                        }
                    }
                    this.getFieldValues(this.fields[a], a);
                }
            }
            this.$forceUpdate();

        },
        getCategories: function () {
            var self = this;
            axios.get('/manage/categories_list_json')
                .then(function (response) {
                    self.categories = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        getFieldValues: function (field, index) {
            var field = field;
            axios.post('/manage/fields/get_field_values', {"field": field.name, 'product': this.product.id})
                .then(function (response) {
                    this.fieldWithValues.push({field: field, values: response.data, selected: null});


                    return response.data;

                    for (var a = 0; a < response.data.length; a++) {
                        response.data[a].id = response.data[a].id;
                        response.data[a].title = response.data[a].title.el;
                    }
                    // Vue.delete(this.inventoriesValues, index);
                    // this.fieldValues.push(response.data)
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        products() {
            this.loading = true;
            var self = this;
            axios.get('/manage/products_list_json?page=' + self.page + "&itemsPerPage=" + self.itemsPerPage)
                .then(function (response) {
                    self.items = response.data;

                    console.log(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.pageCount = self.items.last_page;
                    self.loading = false;
                });
        },
        setInventory(val) {
            this.stock = val;

        },
        setCalculator(val) {

            this.calculatorquery = val;
            console.log(val);
        },
        getMedia() {
            var self = this;
            axios.get('/manage/products/' + this.product.id + '/media')
                .then(function (response) {
                    console.log(response.data)
                    self.medias = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        addMedia() {
            var self = this;
            console.log(self.newMedia)
            axios.post('/manage/products/' + this.product.id + '/media', self.newMedia, {headers: {"Content-Type": "multipart/form-data"}})
                .then(function (response) {

                    // self.medias = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteMedia(id){
            axios.post('/manage/media/'+id+'/delete')
                .then(function (response) {
                    // show alert product update
                    this.getMedia();

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        //delte this
        onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        uploadImage() {
            var self = this;
            console.log(this.image);

            // return;
            // for(var a=0; a<this.image.length; a++){
                axios.post('/manage/products/' + this.product.id + '/media', {image: this.image}).then(response => {
                    console.log(response);
                    self.getMedia();

                });
            // }

            // if (response.data) {
            //     self.image == [];
            // }

        },
        // end delete this
    },
    computed: {
        renderProductCategories:
            {
                get() {
                    return this.productcategories;
                },
                set(value) {
                    this.productcategories = value
                }
            }

    },
    mounted() {
        console.log('calculatorquery')
        console.log(this.productcategories)
        this.getFields();
        this.getMedia();
        this.getCategories();
    }

}
</script>

<style scoped>
#keep .v-navigation-drawer__border {
    display: none
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}

</style>

