<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container fluid>
                <v-row>
                    <v-col cols="3">
                        <v-card-title>
                            Κατηγορίες
                            <v-spacer></v-spacer>
                        </v-card-title>
                            <v-treeview
                                item-text="title"
                                activatable
                                activatable
                                selected-color="blue"
                                :items="categories"
                                selection-type="independent"

                            >
                                <template v-slot:prepend="{ item, open }">
                                    <v-icon v-if="item.id != 0" small class="mr-2" @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                </template>
                            </v-treeview>
                    </v-col>
                    <v-col cols="6" v-if="editCategory != null ">
                        <h2>Επεξεργασία: {{editCategory.title}}</h2>
                        Πατρική Κατηγορία
                        <v-treeview
                            item-text="title"
                            hoverable
                            activatable
                            selected-color="blue"
                            :items="categories"
                            selection-type="independent"
                            :active="editCategory.parent_id"

                        >
                            <template  v-slot:prepend="{ item, open }">
                                <v-icon small class="mr-2" @click="editCategory.parent_id = item.id">
                                    mdi-arrow-right-bold
                                </v-icon>
                            </template>
                        </v-treeview>

                        <v-switch v-model="editCategory.active" :label="`Ενεργό: ${editCategory.active.toString()}`"></v-switch>
                        <v-text-field v-model="editCategory.title"  label="Τίτλος" required></v-text-field>
                        <v-text-field v-model="editCategory.name"  label="name" required></v-text-field>
                        <v-text-field v-model.number="editCategory.order"  label="Θέση" required></v-text-field>
                        <v-text-field v-model="editCategory.erp_id"  label="Erp Id" ></v-text-field>
                        <v-textarea
                            auto-grow
                            :name="editCategory.description"
                            label="Περιγραφή"
                            v-model="editCategory.description"
                            :value="editCategory.description"
                        ></v-textarea>
                        <v-text-field v-model="editCategory.meta_title"  label="Meta Τίτλος" ></v-text-field>
                        <v-textarea
                            auto-grow
                            :name="editCategory.meta_description"
                            label="Meta Περιγραφή"
                            v-model="editCategory.meta_description"
                            :value="editCategory.meta_description"
                        ></v-textarea>
                        <v-switch v-model="editCategory.dynamic" :label="`Δυναμική Κατηγορία: ${editCategory.dynamic.toString()}`"></v-switch>
                        <v-switch v-model="editCategory.mega_menu_is_active" :label="`Ενεργο MegaMenu: ${editCategory.mega_menu_is_active.toString()}`"></v-switch>
                        <v-textarea
                            auto-grow
                            :name="editCategory.mega_menu_content"
                            label="Mega Menu"
                            v-model="editCategory.mega_menu_content"
                            :value="editCategory.mega_menu_content"
                        ></v-textarea>
                        <v-textarea
                            auto-grow
                            :name="editCategory.meta_description"
                            label="Meta Περιγραφή"
                            v-model="editCategory.meta_description"
                            :value="editCategory.meta_description"
                        ></v-textarea>
                        <v-textarea
                            auto-grow
                            :name="editCategory.dynamic_query_content"
                            label="Δυναμικό query"
                            v-model="editCategory.dynamic_query_content"
                            :value="editCategory.dynamic_query_content"
                        ></v-textarea>
                        <v-btn v-on:click="updateCategory">ΕΝΗΜΕΡΩΣΗ</v-btn>
                        <pre>
                            {{editCategory}}
                        </pre>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    ΔΗΜΙΟΥΡΓΙΑ ΚΑΤΗΓΟΡΙΑΣ
                </v-btn>
            </template>
            <v-card>
               <v-col>
                   <v-toolbar dark color="primary">
                       <v-btn icon dark @click="dialog = false">
                           <v-icon>mdi-close</v-icon>
                       </v-btn>
                       <v-toolbar-title>Settings</v-toolbar-title>
                       <v-spacer></v-spacer>
                       <v-toolbar-items>
                           <v-btn dark text @click="dialog = false">Save</v-btn>
                       </v-toolbar-items>
                   </v-toolbar>
                   <v-list three-line subheader>
                       <v-treeview
                           item-text="title"
                           hoverable
                           selected-color="blue"
                           :items="categories"
                           selection-type="independent"

                       >
                           <template v-slot:prepend="{ item, open }">
                               <v-icon small class="mr-2" @click="newCategory.parent_id = item.id">
                                   mdi-arrow-right-bold
                               </v-icon>
                           </template>
                       </v-treeview>
                       <v-switch v-model="newCategory.active" :label="`Ενεργό: ${newCategory.active.toString()}`"></v-switch>
                       <v-text-field v-model="newCategory.title"  label="Τίτλος" required></v-text-field>
                       <v-text-field v-model="newCategory.name"  label="name" required></v-text-field>
                       <v-text-field v-model="newCategory.erp_id"  label="Erp Id" ></v-text-field>
                       <v-textarea
                           auto-grow
                           :name="newCategory.description"
                           label="Περιγραφή"
                           v-model="newCategory.description"
                           :value="newCategory.description"
                       ></v-textarea>
                       <v-text-field v-model="newCategory.meta_title"  label="Meta Τίτλος" ></v-text-field>
                       <v-textarea
                           auto-grow
                           :name="newCategory.meta_description"
                           label="Meta Περιγραφή"
                           v-model="newCategory.meta_description"
                           :value="newCategory.meta_description"
                       ></v-textarea>
                       <v-switch v-model="newCategory.dynamic" :label="`Δυναμική Κατηγορία: ${newCategory.dynamic.toString()}`"></v-switch>
                       <v-btn v-on:click="createCategory">Ενημέρωση</v-btn>
                   </v-list>
                   <v-divider></v-divider>

               </v-col>
            </v-card>
        </v-dialog>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";

    export default {
        components: {navbar},

        props: [],
        data: () => ({
            dialog: false,
            notifications: false,
            newCategory: {
                parent_id: 0,
                active: false,
                title: null,
                name: null,
                erp_id: null,
                description: null,
                meta_title: null,
                meta_description: null,
                dynamic: false,
            },

            loading: false,
            categories:  [],
            editCategory: null,
        }),
        methods: {
            createCategory(){
                axios.post('/manage/categories/create', this.newCategory)
                    .then(function (response) {
                        this.dialog = false;
                        this.newCategory = {
                            active: false,
                                title: null,
                                name: null,
                                erp_id: null,
                                description: null,
                                meta_title: null,
                                meta_description: null,
                                dynamic: false,
                        };
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            updateCategory(){
                axios.post('/manage/categories/'+this.editCategory.id+'/update', this.editCategory)
                    .then(function (response) {
                        this.getCategories();
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            loadCat(id){
                axios.get('/manage/categories/'+id)
                    .then(function (response) {
                        this.editCategory = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            editItem(item){
                this.loadCat(item.id);
            },
            getCategories: function(){
                var self = this;
                axios.get('/manage/categories_list_json')
                    .then(function (response) {

                        var cat = response.data;
                        cat.unshift({'title': 'Root', 'id': 0, 'parent_id': 0})
                        self.categories = cat;

                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },

        },
        mounted() {
            this.getCategories();
        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

