<template>
    <div class="container-fluid">

        <vue-query-builder :rules="rules" v-model="calcQuery"></vue-query-builder>
        <p>Paste Query</p>
        <textarea @paste="onPaste"></textarea>
        <hr>
        <p>Copy Query</p>
        <textarea i="dynamicQueryArea">{{calcQuery}}</textarea>

    </div>


 </template>
<script>
    import VueQueryBuilder from 'vue-query-builder';
    import querybuilder from './querybuilder'

    export default {
        props: ['fields', 'query'],
        components: {VueQueryBuilder, querybuilder},
        data: () => ({

            calcQuery:  {
                "logicalOperator": "any",
                "children": [

                ]
            },
            rules : [],
        }),
        methods: {

            onPaste (evt) {
                console.log(evt.clipboardData.getData('text'))
                this.calcQuery = JSON.parse(evt.clipboardData.getData('text'));
                this.$forceUpdate()
            },
            setFields(){
              var field = {};
              var fieldvalues = [];
              console.log('fields comming');
              var self = this;
              for(var a = 0; a < this.fields.length; a++){

                  if(this.fields[a].position == 1) { // add only fields that have position 1 = inventory
                      console.log('this.fields[a]')
                      console.log(this.fields[a])
                      axios.post('/manage/fields/get_field_values', {"field": self.fields[a].name})
                          .then(function (response) {
                              console.log(response.data);
                              for (var b = 0; b < response.data.length; b++) {
                                  fieldvalues.push({label: response.data[b].title, value: response.data[b].id});
                              }
                              console.log('fieldvalues');
                              console.log(fieldvalues);
                          }.bind(this))
                          .catch(function (error) {
                              console.log(error);
                          });
                      field = {
                          type: "text",
                          id: this.fields[a].name,
                          label: this.fields[a].title,
                          operators: ['=', '<', '<=', '>', '>='],

                      };

                      this.rules.push(field);
                      field = {};
                      fieldvalues = [];
                  }
              }

              this.rules.push(
                  {
                      type: "text",
                      id: "price",
                      label: "Price",
                      operators: ['=','+', '*', '*%', '-'],
                  },);
          }
        },
        watch: {
            calcQuery: {
                handler: function(newValue) {

                    this.$emit('setCalculator', this.calcQuery);
                },
                deep: true
            },
            // fields: {
            //     handler: function(newValue) {
            //
            //     },
            //     deep: true
            //
            // }
        },
        created() {

            this.calcQuery = this.query;

            this.setFields();
        }
    }
</script>
<style>
    .vqb-rule.card {
        padding: 4px 16px;
        margin-bottom: 2px;
        margin-top: 4px;
    }
    rule-actions.form-inline {
        padding-bottom: 5px;
    }
</style>
