<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid class=" ">
                <v-row >
                    <v-col>
                        <v-card-title>

                            <v-spacer></v-spacer>
                            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                        </v-card-title>
                        <a class='v-btn v-btn--contained v-btn--right theme--light v-size--small' :href='createUrl'>ΝΕΟ</a>
                        <v-data-table :loading="loading"
                                      :search="search"
                                      :headers="header"
                                      :items="items.data"
                                      :items-per-page="itemsPerPage"
                                      hide-default-footer
                                      class="elevation-0"
                                      @page-count="pageCount = $event">


                                <template v-slot:item.actions="{ item }">
                                    <v-icon small class="mr-2" @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon small @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </template>

                        </v-data-table>
                        <div class="text-center pt-2">

                            <v-pagination v-model="page"  @input="data" :length="pageCount"></v-pagination>
                            <v-text-field
                                :value="itemsPerPage"
                                label="Items per page"
                                type="number"
                                min="-1"
                                max="15"
                                @input="itemsPerPage = parseInt($event, 10)"
                            ></v-text-field>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";

    export default {
        components: {navbar},

        props: ['method', 'data_url', 'edit_url', 'header'],
        data: () => ({
            loading: false,
            createUrl: null,
            page: 1,
            pageCount: 1,
            itemsPerPage: 20,
            search: '',

            items: [],
        }),
        methods: {
            editItem(item){
                window.location.href =  this.edit_url +'/'+item.id
            },
            deleteItem(item){

                console.log(item)
            },
            data(){
                this.loading = true;
                var self = this;
                axios.get(self.data_url+'?page='+self.page+"&itemsPerPage="+self.itemsPerPage)
                    .then(function (response) {
                        self.items = response.data;
                        console.log('response.data');
                        console.log(response.data);
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        self.pageCount = self.items.last_page;
                        self.loading = false;
                    });
            }
        },
        mounted() {
            console.log(this.data_url)
            this.data();
            this.createUrl = '/manage/'+this.method+'/create';
        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

