<!--
Προϊόν έχει 100 τεμ.


// προϊόν έχει χρώμα , μαύρο κόκινο
// προϊόν έχει Μέγεγος , 1 / 2 / 3 / 4
-->
<template>
    <v-app id="inventory">
            <v-container fluid>
            <v-row class="teal lighten-5">
                <v-col><v-text-field v-model="newInventory.sku" :counter="10" label="Sku" required></v-text-field></v-col>
                <v-col><v-text-field  type="number" v-model="newInventory.quantity" :counter="10" label="Quantity" required></v-text-field></v-col>
                <v-col><v-text-field v-model="newInventory.price" :counter="10" label="Price" required></v-text-field></v-col>
                <v-col>
                    <v-btn color="primary" v-on:click="addToStock">
                            ΝΕΟ
                    </v-btn>
                </v-col>
            </v-row>
                <div class="text-center" v-if="loading">
                    <v-progress-circular
                        :size="50"
                        color="primary"
                        indeterminate></v-progress-circular>
                </div>
            <v-row v-for="(s, is) in stock" :key="s.id">
                <v-col><v-text-field v-model="s.sku" :counter="10" label="Sku" required></v-text-field></v-col>
                <v-col><v-text-field  type="number" v-model="s.quantity" :counter="10" label="Quantity" required></v-text-field></v-col>
                <v-col><v-text-field type="decimal"  v-model="s.price" :counter="10" label="Price" required></v-text-field></v-col>

                <v-col >
                   <v-btn left v-on:click="(expandVariationId == s.sku)?null:expandVariationId = s.sku" color="primary" fab small dark>
                       <v-icon>mdi-arrange-send-to-back</v-icon>
                   </v-btn>
                </v-col>
                <v-col right >

                    <v-btn v-if="s.id" right v-on:click="deleteStock(s.id)" color="error" fab x-small dark>
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </v-col>

                <v-col cols="12" v-show="expandVariationId == s.sku">

                    <v-row class="grey">
<!--                        <v-btn right v-on:click="expandVariationId=null">Close</v-btn>-->
                        <v-col>
                            <span v-on:click="addNewStockVariation">Νέο</span>
                            <span right v-on:click="expandVariationId = null">X</span>



                            <div v-for="(sv, index) in svars" :key="index">

                                <select v-on:change="getFieldValues(sv.type , index); selectedField = sv.id" v-model="sv.type"   class="form-control" id="">
                                    <option v-for="a in fields" :value="a.name">{{a.title}} </option>
                                </select>

                                <select v-if="sv.values !== undefined"  v-model="selectedVar" v-on:change="addVariation(selectedVar, is,index )"   class="form-control">
                                    <option v-for="b in sv.values" :value="b.id">{{b.title}} </option>
                                </select>


                                <button v-on:click="addToStockVariation(s.id, sv.type, selectedVar)">Καταχώρηση</button>



                            </div>

                        </v-col>
                    </v-row>
                    <v-row >

                        <v-col>
                           <div v-for="(variation, varkey) in s.variations" :key="variation.id">
                             <div class="row">
                                 <v-col>
                                     <label for="">{{variation.field.title}}</label>
                                     <select v-model="s.variations[varkey].model_id"  class="form-control">
                                         <option v-for="(fvalue, fieldValuesIndex) in variation.field.values" :value="fvalue.id"> {{fvalue.title}}</option>
                                     </select>
                                 </v-col>
                                 <v-col right >

                                     <v-btn v-if="variation.id" right v-on:click="deleteStockVariation(variation.id)" color="error" fab x-small dark>
                                         <v-icon>mdi-delete</v-icon>
                                     </v-btn>
                                 </v-col>

                             </div>
                           </div>
                        </v-col>

                    </v-row>
                </v-col>
            </v-row>
        </v-container>

    </v-app>
</template>
<script>
    import VueTable from 'vuejs-spreadsheet';
    export default {
        props: ['product'],
        components: {VueTable},
        data: () => ({
            loading: false,
            //stock vars
            selectedField: null,
            selectedVar: null,
            svars: [],

            //end stock vars

            expandVariationId: null,
            stockVariationDialog: false,
            newInventory: {
                sku: null,
                ean: null,
                barcode: null,
                quantity: null,
                price: null,
            },
            stock: [],
            fields: [],
            fieldValues: [],

        }),
        methods:{
            addToStockVariation(stockId, fieldId, valueId){
                var self = this;
                axios.post('/manage/product/addStockVariation', {
                    "stockId": stockId,
                    "fieldId": fieldId,
                    "valueId": valueId
                })
                    .then(function (response) {
                        self.getStock();

                    }.bind(self))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            deleteStockVariation(variation){
                var self = this;
                axios.post('/manage/product/destory_stock_variation', {"id": variation})
                    .then(function (response) {
                        self.getStock();
                    }.bind(self))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            deleteStock(stock){
                var self = this;
                axios.post('/manage/product/destory_stock', {"id": stock})
                    .then(function (response) {
                        self.getStock();

                    }.bind(self))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addVariation: function (variation , stockIndex ,index) {
                console.log('this.stock');
                console.log(this.stock);
                this.stock[stockIndex].variations.push(variation)
                this.$forceUpdate()
            },
            addNewStockVariation: function () {
                this.svars.push(Vue.util.extend({}, this.rule))
            },
            removeStockVariation: function (index) {
                Vue.delete(this.svars, index);
            },

            //stock variations
            getFieldValues: function(field, index){
                var self = this;
                if(field == 'category'){
                    this.rules[index].query = '<>'
                    return null;
                }
                axios.post('/manage/fields/get_field_values', {"field": field})
                    .then(function (response) {
                        self.svars[index].values = response.data
                        self.$forceUpdate()

                    }.bind(self))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // end stock variations
            toggle () {
                this.$nextTick(() => {
                    if (this.likesAllFruit) {
                        this.selectedFruits = []
                    } else {
                        this.selectedFruits = this.fruits.slice()
                    }
                })
            },
            addToStock(){
                this.stock.push(this.newInventory)
                this.newInventory= {
                        sku: null,
                        ean: null,
                        barcode: null,
                        quantity: null,
                        price: null,
                }

            },
            getFields: function () {
                axios.get('/manage/fields/get_fields')
                    .then(function (response) {
                        console.log(response.data)
                        this.fields = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getStock: function () {
                this.loading = true;
                console.log(this.product.id)
                let self = this;
                axios.get('/manage/products/'+ self.product.id +'/get_stock')
                    .then(function (response) {
                        console.log(response.data)
                        self.stock = response.data;
                        self.loading = false;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        },
        watch: {
            stock: {
                handler: function(newValue) {
                    console.log('sdf');
                    this.$emit('setInventory', this.stock);
                },
                deep: true
            }
        },
        computed: {

        },
        mounted() {
            this.getFields();
            this.getStock();
        }
    }
</script>
<style>

</style>
