<template>
    <div>
        <v-app-bar
            app
            clipped-left
            color="amber"
        >
            <v-app-bar-nav-icon @click="drawer = !drawer" />
            <span class="title ml-3 mr-5">Orange&nbsp;<span class="font-weight-light">Commerce</span></span>
<!--            <v-text-field-->
<!--                solo-inverted-->
<!--                flat-->
<!--                hide-details-->
<!--                label="Search"-->
<!--                prepend-inner-icon="search"-->
<!--            />-->

<!--            <v-toolbar color="amber" flat>-->
<!--                <v-autocomplete-->
<!--                    :loading="isLoading"-->
<!--                    :items="searchResults"-->
<!--                    :search-input.sync="search"-->
<!--                    chips-->
<!--                    clearable-->
<!--                    hide-details-->
<!--                    hide-selected-->
<!--                    item-text="name"-->
<!--                    item-value="symbol"-->
<!--                    label="Search for a coin..."-->
<!--                    solo>-->

<!--                </v-autocomplete>-->

<!--            </v-toolbar>-->

            <v-spacer />



        </v-app-bar>

        <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
            <v-list dense class="grey lighten-4">
                <template v-if="item.subLinks == undefined" v-for="(item, i) in items">
                    <v-row v-if="item.heading" :key="i" align="center">
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>
                        <v-col cols="6" class="text-right">
                            <v-btn small text>edit</v-btn>
                        </v-col>
                    </v-row>
                    <v-divider v-else-if="item.divider" :key="i" dark class="my-4"/>
                    <v-list-item v-else :key="i" :href="item.to" link>
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="grey--text" >
                                {{ item.text }}
                            </v-list-item-title>

                        </v-list-item-content>
                    </v-list-item>
                </template>

                <v-list-group v-else>
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.text" :to="item.to"></v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item v-for="subItem in item.subLinks" :key="subItem.text" :href="subItem.to">
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}ss</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title v-text="subItem.text" ></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>

            </v-list>
        </v-navigation-drawer>
    </div>
</template>
<script>
    export default {

        props: {

        },
        data: () => ({
            drawer: null,

            searchResults: [],
            isLoading: false,
            searchdashboard: null,

            items: [
                { icon: 'equalizer', text: 'Dashboard', to: '/manage' },
                { icon: 'account_balance', text: 'Παραγγελίες', to:'/manage/orders'  },
                { icon: 'touch_app', text: 'Προϊόντα', to:'/manage/products'  },
                // { icon: 'account_balance', text: 'Εκτπώσεις', to:'/manage/sales'  },
                { icon: 'face', text: 'Πελάτες', to:'/manage/users'  },
                { divider: true },
                { icon: 'all_inbox', text: 'Κατηγορίες', to:'/manage/categories'  },
                { icon: 'loyalty', text: 'Κουπόνια', to:'/manage/vouchers'  },
                { icon: 'card_giftcard', text: 'Εκπτώσεις', to:'/manage/rules'  },
                { divider: true },
                { icon: 'image', text: 'Slider', to:'/manage/sliders'  },

                // { heading: 'Labels' },
                // { icon: 'add', text: 'Create new label' },
                // { divider: true },
                { icon: 'settings', text: 'Ρυθμίσεις',
                    subLinks : [
                        {
                            text : 'Εισαγωγή - Ενημέρωση Προϊόντων',
                            to: '/manage/reports/import',
                            icon: 'add',
                        },

                    ]
                },
                // { icon: 'delete', text: 'Trash' },
                // { divider: true },
                // { icon: 'settings', text: 'Settings' },
                // { icon: 'chat_bubble', text: 'Trash' },
                // { icon: 'help', text: 'Help' },
                // { icon: 'phonelink', text: 'App downloads' },
                // { icon: 'keyboard', text: 'Keyboard shortcuts' },
            ],
        }),

        watch: {

            search (val) {
                // Items have already been loaded
                if (this.items.length > 0) return

                this.isLoading = true

                // Lazily load input items
                fetch('/search')
                    .then(res => res.clone().json())
                    .then(res => {
                        this.items = res
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    .finally(() => (this.isLoading = false))
            },
        },
    }
</script>
<style>
    .container--fluid {
        max-width: 100%!important;
    }
</style>
