<template>
    <div class="container-fluid">

        <vue-query-builder  :rules="rules" v-model="calcQuery"></vue-query-builder>

        <div v-if="manageQuery != undefined && manageQuery != false">
            <p>Paste Query</p>
            <textarea @paste="onPaste"></textarea>
            <hr>
            <p>Copy Query</p>
            <textarea i="dynamicQueryArea">{{calcQuery}}</textarea>
        </div>



    </div>


</template>
<script>
    import VueQueryBuilder from 'vue-query-builder';
    import querybuilder from './querybuilder';
    import categorytree from '../../elements/categorytree';

    export default {
        props: ['query', 'manageQuery', 'appendfields'],
        components: {VueQueryBuilder, querybuilder},
        data: () => ({




            calcQuery:  {
                "logicalOperator": "any",
                "children": [

                ]
            },
            extrafields : null,
            rules : [],
        }),
        methods: {

            getFields: function () {
                var self = this;
                axios.get('/manage/fields/get_fields')
                    .then(function (response) {
                        console.log('manage/fields/get_fields')
                        console.log(response.data)
                        self.fields = response.data;
                        //set the fields
                        self.setFields();
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            onPaste (evt) {
                console.log(evt.clipboardData.getData('text'))
                this.calcQuery = JSON.parse(evt.clipboardData.getData('text'));
                this.$forceUpdate()
            },
            setFields(){
                var field = {};

                for(var a = 0; a < this.fields.length; a++){
                    field = {
                        type: this.fields[a].type,
                        id: this.fields[a].name,
                        label: this.fields[a].title,
                        operators: ['=', '<', '<=', '>', '>=', '!='],
                        choices: [],
                    };
                    this.rules.push(field);
                    this.pushValuestoRules(a, this.fields[a].name);
                    field = {};
                }

                console.log('this.extrafields.length');
                console.log(this.extrafields);
                for(var b = 0; b < this.extrafields.length; b++){
                    this.rules.push(
                        {
                            type: this.extrafields[b].type,
                            id: this.extrafields[b].id,
                            label: this.extrafields[b].label,
                            operators: this.extrafields[b].operators,
                            choices: this.extrafields[b].choices,
                        });
                }
                this.rules.push(
                    {
                        type: "custom-component",
                        id: "category",
                        label: "Κατηγορία",
                        operators: ['=', '<', '<=', '>', '>=', '!='],
                        component: 'categorytree',
                        defaule: null
                    }
                )

            },
            pushValuestoRules(index, name){
                let fieldvalues = [];
                var self = this;

                axios.post('/manage/fields/get_field_values', {"field": name})
                    .then(function (response) {
                        console.log('self.fields[a].name')
                        console.log(name)

                        for (var b = 0; b < response.data.length; b++) {
                            fieldvalues.push({label: response.data[b].title, value: response.data[b].id});
                        }

                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {
                        self.rules[index].choices = fieldvalues;
                }.bind(this));
            }
        },
        watch: {
            calcQuery: {
                handler: function(newValue) {

                    this.$emit('setParentQuery', this.calcQuery);
                    // this.$emit('setCalculator', this.calcQuery);
                },
                deep: true
            },
            // fields: {
            //     handler: function(newValue) {
            //
            //     },
            //     deep: true
            //
            // }
        },
        created(){
            this.calcQuery = this.query;
            this.extrafields = (this.appendfields != undefined)?this.appendfields : null;
        },
        mounted() {

            this.getFields();


        }
    }
</script>
<style>
    .vqb-rule.card {
        padding: 4px 16px;
        margin-bottom: 2px;
        margin-top: 4px;
    }
    rule-actions.form-inline {
        padding-bottom: 5px;
    }
    .vqb-children .vqb-group {
        margin-left: 30px;
    }
</style>
