<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row >
                    <v-col cols="12">
                        <v-row>
                            <v-col cols="4">
                                <v-text-field v-model="rule.title"  label="Title" required></v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <v-text-field v-model="rule.discount_value"  label="price" required></v-text-field>
                            </v-col>
                            <v-col cols="3">
                                <v-checkbox v-model="rule.discount_type" label="Σταθερή Τιμή;" hide-details></v-checkbox>
                            </v-col>
                            <v-col>
                                <v-btn color='success' v-if="!edit" v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                                <v-btn color='success' v-if="edit" v-on:click="update">ΕΝΗΜΕΡΩΣΗ</v-btn>
                            </v-col>

                            <v-col cols="12">
                                <querybuilder :appendfields="appendfields" :manageQuery='false' :query="query.query" @setParentQuery="setQuery"> </querybuilder>
                            </v-col>
                        </v-row>

                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12">
                        <v-btn  color="default" v-on:click="searchProducts">ΑΝΑΖΗΤΗΣΗ ΠΡΟΪΟΝΤΩΝ</v-btn>
                        <v-progress-circular
                            v-if="loading"
                            indeterminate
                            color="primary"
                        ></v-progress-circular>
                    </v-col>

                    <v-col cols="12">
                        <v-data-table
                            :loading="loading"
                            :headers="headers"
                            :items="products"
                            :items-per-page="500"
                            hide-default-footer
                            class="elevation-0"
                        >
                        </v-data-table>
                    </v-col>
                </v-row>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";
    import querybuilder from "../elements/querybuilder";
    import inventory from "../elements/inventory";
    import draggable from 'vuedraggable'

    export default {
        components: {querybuilder},
        props: ['query', 'edit'],
        data: () => ({
            loading: false,
            saveProductLoader:0,
            appendfields:[
                {
                    type: "text",
                    id: "sku",
                    label: "Κωδικός Προϊόντος",
                    operators: [
                        "=",
                        "<",
                        "<=",
                        ">",
                        ">=",
                        "!="
                    ],
                    choices: []
                },
                {
                    "type": "text",
                    "id": "price",
                    "label": "Τιμή",
                    "operators": [
                        "=",
                        "<",
                        "<=",
                        ">",
                        ">=",
                        "!="
                    ],
                    "choices": []
                },

            ],
            rule: {
                'title': null,
                'is_active': 0,
                'discount_type': 0,
                'discount_value': 0,
                'order': 0,
                'starts_at': 0,
                'query': null
            },

            //datatable
            headers: [
                { text: 'Id', value: 'sku' },
                {
                    text: 'Τίτλος',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },

                { text: 'Sku', value: 'sku' },
                { text: 'Price', value: 'price' },
                { text: 'Εκπτ Τιμή', value: 'special_price' },
                { text: 'Κανόνας', value: 'rule_id' },
            ],
            products: [

            ],
            // end datatable
        }),
        methods: {
            searchProducts: function (){
                var self = this;
                self.loading = true;
                axios.post('/manage/rules/filter_products', {query: self.rule.query})
                    .then(function (response) {
                     self.products = response.data;
                        self.loading = false;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            setQuery(value){
                console.log(value);
                this.rule.query = value
            },
            create(){
                var self = this;
                this.saveMessages = [];
                axios.post('/manage/rules/', this.rule)
                    .then(function (response) {
                        // show alert product update
                        console.log(response.data)
                        window.location.href = "/manage/rules/"+response.data.id;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                });
            },
            update(){
                var self = this;
                this.saveMessages = [];
                axios.put('/manage/rules/'+this.rule.id, this.rule)
                    .then(function (response) {
                        // show alert product update
                        console.log(response.data)
                        // window.location.href = "/manage/rules/"+response.data.id;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                });
            },

        },
        created(){
           // this.rule.query = this.query;

            // this.rule.query = this.query.query
            // this.rule.title = this.query.title
            // this.rule.is_active = this.query.is_active
            // this.rule.discount_value = this.query.discount_value
            // this.rule.discount_type = this.query.discount_type
        },
        mounted() {
            if(this.edit != undefined && this.edit != null && this.edit != false){
                this.rule = this.edit;
            }

        }

    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
    .v-expansion-panel {
        border-bottom: solid 1px #eee;
    }

</style>

