<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content fluid>
            <v-container  fluid>
                <v-row >
                    <v-col cols="12">
                        <canvas id="orderschart" width="100%" height="300"></canvas>
                    </v-col>

                </v-row>
                <v-row>
                    <v-col>
                        Τελευταίες Παραγγελίες
                        <v-data-table
                            :headers="orderHeaders"
                            :items="lastorders"

                            class="elevation-1"
                        ></v-data-table>

                    </v-col>
                    <v-col>

                    </v-col>

                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>

    import navbar from "./elements/navbar";

    export default {
        components: {navbar},

        props: ['orders', 'lastorders'],
        data: () => ({
            fill: false,

            padding: 8,
            radius: 4,

            width: 1,
            orderHeaders: [
                {text: 'Αρ.',  align: 'start',  sortable: false,  value: 'order_num',},
                {text: 'Όνομα',  align: 'start',  sortable: false,  value: 'details.billing_name',},
                {text: 'Επίθετο',  align: 'start',  sortable: false,  value: 'details.billing_lastname',},
                {text: 'Σύνολο',  align: 'start',  sortable: false,  value: 'details.total',},
                {text: 'Κατάσταση',  align: 'start',  sortable: false,  value: 'details.status'},
                {text: 'Ημ/νια',  align: 'start',  sortable: false,  value: 'created_at'},
            ],
        }),
        mounted() {
            var ctx = document.getElementById("orderschart").getContext('2d');
            var maxvalue = this.orders;

            var mixedChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Παραγγελίες',
                        data: this.orders['orders'].reverse(),
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                yAxisID: "y-axis-1",
            }, {
                label: 'Σύνολο',
                data: this.orders['total'].reverse(),
            borderColor: "rgba(0, 157, 255, 0.2)",
                backgroundColor: 'transparent',
                type: 'line',
                yAxisID: "y-axis-2",
        }],

            labels: this.orders['dates'].reverse()
        },

            options: {
                maintainAspectRatio: false,
                    scales: {
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                    }, {
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        max: 3999,

                        gridLines: {
                            drawOnChartArea: false,
                        },

                        ticks: {
                            beginAtZero:true,
                            suggestedMin: 0,
                            steps : 25,
                            stepValue: 1,
                            min: 0,

                        }
                    }]
                }
            }
        });




        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>
