<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container   class=" ">
                <v-row >
                    <v-col>
                        <v-card-title>
                            DashBoard
                            <v-spacer></v-spacer>
                            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                        </v-card-title>


                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "./elements/navbar";

    export default {
        components: {navbar},

        props: [],
        data: () => ({

        }),
        methods: {

        },
        mounted() {

        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

