<template>
    <v-app id="keep">
        <navbar></navbar>

        <v-content>

            <v-container fluid >
                <v-row >
                    <v-col>
                        <v-card-title>
                            Προϊόντα
                            <v-spacer></v-spacer>
                            <v-text-field v-model="search" @keypress="searchProduct" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                        </v-card-title>
                        <a class='v-btn v-btn--contained v-btn--right theme--light v-size--small' href="/manage/products/create">ΝΕΟ</a>

                        <v-data-table
                            :loading="loading"
                            :v-model="selected"
                            item-key="id"
                            show-select
                            :headers="headers"
                            :items="items.data"
                            :items-per-page="itemsPerPage"
                            hide-default-footer
                            class="elevation-0"
                            @page-count="pageCount = $event">

                            <template v-slot:item.actions="{ item }">
                                <v-icon small class="mr-2" @click="editItem(item)">
                                    mdi-pencil
                                </v-icon>
                                <v-icon small class="mr-2" @click="vueProduct(item)">
                                    mdi-eye
                                </v-icon>
                                <v-icon small @click="deleteItem(item)">
                                    mdi-delete
                                </v-icon>
                            </template>
                        </v-data-table>
                        <div class="text-center pt-2">

                            <v-row>
                                <v-col cols="10">
                                    <v-pagination
                                        total-visible="20"
                                        v-model="page"
                                        @input="products"
                                        :length="pageCount"></v-pagination>
                                </v-col>
                                <v-col cols="2">
                                    <v-text-field
                                        :value="itemsPerPage"
                                        label="Items per page"
                                        type="number"
                                        min="-1"
                                        max="15"
                                        @input="itemsPerPage = parseInt($event, 10)"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "./elements/navbar";

    export default {
        components: {navbar},

        props: [],
        data: () => ({
            loading: false,
            page: 1,
            pageCount: 1,
            itemsPerPage: 30,
            search: '',
            singleSelect: false,
            selected: [],
            headers: [
                {text: 'Id', value: 'id'},
                {
                    text: 'Title',
                    align: 'start',
                    sortable: true,
                    value: 'title.el',
                },

                {text: 'Sku', value: 'sku'},
                {text: 'Price', value: 'price'},
                {text: 'Discount', value: 'special_price'},
                {text: 'Rule', value: 'rule_id',sortable: true},
                {text: 'Active', value: 'is_active'},
                {text: 'Type', value: 'product_type'},
                { text: 'Actions', value: 'actions', sortable: false },

            ],
             items: [],
        }),
        methods: {
            editItem(item){
                window.location.href = '/manage/products/'+item.id
            },
            deleteItem(item){
                var answer = window.confirm("Διαγραφή Προϊόντος?")
                if (answer) {
                    var self = this;
                    axios.post('/manage/products/'+item.id +'/destroy')
                        .then(function (response) {
                            self.products();
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }

            },
            vueProduct(item){
                var url = '/'+item.name;
                var win = window.open(url, '_blank');
                win.focus();
            },
            searchProduct(){
                this.products();
            },
            products(){
                this.loading = true;
                var self = this;
                axios.get('/manage/products_list_json?page='+self.page+"&itemsPerPage="+self.itemsPerPage+"&search="+self.search)
                    .then(function (response) {
                        self.items = response.data;

                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        self.pageCount = self.items.last_page;
                        self.loading = false;
                    });
            }
        },
        mounted() {
            this.products();
        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

