<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row>
                    <v-col cols="12">
                        <h2>Νέος Χρήστης</h2>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="user.name"  label="Ονομα" required></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="user.lastname"  label="Επίθετο" required></v-text-field>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="6">
                        <v-text-field v-model="user.email"  label="Email" required></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="user.mobile"  label="Τηλ" required></v-text-field>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="6">

                        <v-text-field v-model="user.password"  label="Κωδικός" required></v-text-field>
                    </v-col>

                    <v-col cols="6">
                        <v-select
                            v-model="userRoles"
                            :items="roles"
                            item-value="name"
                            item-text="name"
                            multiple
                            label="Ρόλοι"
                        ></v-select>
                    </v-col>
                    <v-col>
                        <v-btn color="orange" v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";

    export default {
        components: {navbar},

        props: ['roles'],
        data: () => ({
            userRoles:[],
            user:{
                name: null,
                lastname: null,
                email: null,
                password: null,
                mobile: null,
            }
        }),
        methods: {

            create(){
                var self = this;
                axios.post('/manage/users', {user:self.user, roles:self.userRoles})
                    .then(function (response) {
                        console.log(response.data);
                        window.location.href = "/manage/users";
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {

                    });
            }
        },
        mounted() {

        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

