<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>

        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";

    export default {
        components: {navbar},

        props: [],
        data: () => ({
            loading: false,
            page: 1,
            pageCount: 1,
            itemsPerPage: 20,
            search: '',
            headers: [
                {text: 'Όνομα', align: 'start', sortable: true, value: 'name',},
                {text: 'Επίθετο', align: 'start', sortable: true, value: 'lastname',},
                {text: 'Email', value: 'email'},
                {text: 'Τηλέφωνο', value: 'phone'},
            ],
            items: [],
        }),
        methods: {
            editItem(item){
                window.location.href = '/manage/users/'+item.id
            },
            deleteItem(item){

                console.log(item)
            },
            products(){
                this.loading = true;
                var self = this;
                axios.get('/manage/users_list_json?page='+self.page+"&itemsPerPage="+self.itemsPerPage)
                    .then(function (response) {
                        self.items = response.data;

                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        self.pageCount = self.items.last_page;
                        self.loading = false;
                    });
            },
            create(){
                axios.post('/manage/users', newUser)
                    .then(function (response) {
                        self.items = response.data;

                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        self.pageCount = self.items.last_page;
                        self.loading = false;
                    });
            }
        },
        mounted() {
            this.products();
        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
</style>

