<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row >
                    <v-col cols="10">

                        Πελάτης: {{user.name}} {{user.lastname}}



                        <v-expansion-panels md="4" v-model="panel"  multiple >
                            <v-expansion-panel>
                                <v-expansion-panel-header>Στοιχεία</v-expansion-panel-header>
                                <v-expansion-panel-content  >
                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field v-model="user.name"  label="Ονομα" required></v-text-field>
                                        </v-col>
                                        <v-col cols="6">
                                            <v-text-field v-model="user.lastname"  label="Επίθετο" required></v-text-field>
                                        </v-col>
                                    </v-row>

                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field v-model="user.email"  label="Ονομα" required></v-text-field>
                                        </v-col>

                                        <v-col cols="2">
                                            <v-text-field v-model="user.mobile"  label="Τηλ" required></v-text-field>
                                        </v-col>

                                    </v-row>

                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <!-- orders -->
                            <v-expansion-panel >
                                <v-expansion-panel-header>Παραγγελίες</v-expansion-panel-header>
                                <v-expansion-panel-content  >

                                </v-expansion-panel-content>
                            </v-expansion-panel>

                            <!-- roles -->
                            <v-expansion-panel >
                                <v-expansion-panel-header>Ρόλοι</v-expansion-panel-header>
                                <v-expansion-panel-content  >

                                </v-expansion-panel-content>
                            </v-expansion-panel>

                        </v-expansion-panels>
                    </v-col>
                    <v-col cols="2">
                        Επιβεβαιώθηκε: {{user.email_verified_at}}
                    </v-col>
                </v-row>


            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";
    import calculator from "../elements/calculator";
    import inventory from "../elements/inventory";
    import draggable from 'vuedraggable'

    export default {

        components: {navbar, calculator, draggable, inventory},
        props: ['user'],
        data: () => ({
            panel:[0]
        }),
        methods: {

        },
        mounted() {

        }

    }
</script>

<style scoped>
    #keep .v-navigation-drawer__border {
        display: none
    }
    .v-expansion-panel {
        border-bottom: solid 1px #eee;
    }

</style>

