h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
body,p, a {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #31bec9;
}

/* Padding Zero */

.p0 {
    padding: 0!important
}


/* Padding Top */

.pt10 {
    padding-top: 10px!important
}

.pt15 {
    padding-top: 15px!important
}

.pt20 {
    padding-top: 20px!important
}

.pt30 {
    padding-top: 30px!important
}

.pt40 {
    padding-top: 40px!important
}

.pt50 {
    padding-top: 50px!important
}

.pt60 {
    padding-top: 60px!important
}

.pt70 {
    padding-top: 70px!important
}

.pt80 {
    padding-top: 80px!important
}

.pt90 {
    padding-top: 90px!important
}

.pt100 {
    padding-top: 100px!important
}

.pt110 {
    padding-top: 110px!important
}

.pt120 {
    padding-top: 120px!important
}

.pt130 {
    padding-top: 130px!important
}

.pt140 {
    padding-top: 140px!important
}


/* Padding Bottom */

.pb0 {
    padding-bottom: 0px!important
}

.pb10 {
    padding-bottom: 10px!important
}

.pb15 {
    padding-bottom: 15px!important
}

.pb20 {
    padding-bottom: 20px!important
}

.pb30 {
    padding-bottom: 30px!important
}

.pb40 {
    padding-bottom: 40px!important
}

.pb50 {
    padding-bottom: 50px!important
}

.pb60 {
    padding-bottom: 60px!important
}

.pb70 {
    padding-bottom: 70px!important
}

.pb80 {
    padding-bottom: 80px!important
}

.pb90 {
    padding-bottom: 90px!important
}

.pb100 {
    padding-bottom: 100px!important
}

.pb110 {
    padding-bottom: 110px!important
}

.pb120 {
    padding-bottom: 120px!important
}

.pb130 {
    padding-bottom: 130px!important
}

.pb140 {
    padding-bottom: 140px!important
}


/* Padding Left */

.pl0 {
    padding-left: 0px!important
}

.pl3 {
    padding-left: 3px!important
}

.pl5 {
    padding-left: 5px!important
}

.pl10 {
    padding-left: 10px!important
}

.pl20 {
    padding-left: 20px!important
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl50 {
    padding-left: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pl70 {
    padding-left: 70px;
}

.pl80 {
    padding-left: 80px;
}

.pl90 {
    padding-left: 90px;
}

.pl100 {
    padding-left: 100px;
}


/* Padding Right */

.pr0 {
    padding-right: 0px!important
}

.pr5 {
    padding-right: 5px!important
}

.pr10 {
    padding-right: 10px!important
}

.pr20 {
    padding-right: 20px!important
}

.pr30 {
    padding-right: 30px!important
}

.pr40 {
    padding-right: 40px;
}

.pr50 {
    padding-right: 50px;
}

.pr60 {
    padding-right: 60px;
}

.pr70 {
    padding-right: 70px;
}

.pr80 {
    padding-right: 80px;
}

.pr90 {
    padding-right: 90px;
}

.pr100 {
    padding-right: 100px;
}

.pr110 {
    padding-right: 110px;
}

.pr120 {
    padding-right: 120px;
}

@media (min-width:1200px) {
    .pl-lg-50 {
        padding-left: 50px;
    }
    .pl-lg-80 {
        padding-left: 80px;
    }
}

@media (min-width:992px) {
    .pt-md-50 {
        padding-top: 50px;
    }
}


/* Margin Auto */

.mr-auto {
    margin: auto;
    float: none;
}


/* Margin Top */

.mt0 {
    margin-top: 0!important
}

.mt5 {
    margin-top: 5px!important
}

.mt10 {
    margin-top: 10px!important
}

.mt20 {
    margin-top: 20px!important
}

.mt30 {
    margin-top: 30px!important
}

.mt40 {
    margin-top: 40px!important
}

.mt50 {
    margin-top: 50px!important
}

.mt60 {
    margin-top: 60px!important
}

.mt70 {
    margin-top: 70px!important
}

.mt80 {
    margin-top: 80px!important
}

.mt90 {
    margin-top: 90px!important
}

.mt100 {
    margin-top: 100px!important
}

.mt110 {
    margin-top: 110px!important
}

.mt120 {
    margin-top: 120px!important
}


/* Margin Bottom */

.mb0 {
    margin-bottom: 0!important
}

.mb5 {
    margin-bottom: 5px!important
}

.mb10 {
    margin-bottom: 10px!important
}

.mb15 {
    margin-bottom: 15px!important
}

.mb20 {
    margin-bottom: 20px!important
}

.mb30 {
    margin-bottom: 30px!important
}

.mb40 {
    margin-bottom: 40px!important
}

.mb50 {
    margin-bottom: 50px
}

.mb60 {
    margin-bottom: 60px
}

.mb70 {
    margin-bottom: 70px
}

.mb80 {
    margin-bottom: 80px
}

.mb90 {
    margin-bottom: 90px
}

.mb100 {
    margin-bottom: 100px
}

.mb110 {
    margin-bottom: 110px
}

.mb120 {
    margin-bottom: 120px
}


/* Margin Left */

.ml0 {
    margin-left: 0!important;
}

.ml15 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml90 {
    margin-left: 90px;
}

.ml100 {
    margin-left: 100px;
}

.ml110 {
    margin-left: 110px;
}


/* Margin Right */

.mr0 {
    margin-right: 0!important
}

.mr5 {
    margin-left: 5px!important
}

.mr10 {
    margin-right: 10px!important
}

.mr20 {
    margin-right: 20px!important
}

.mr30 {
    margin-right: 30px!important
}

.mr40 {
    margin-right: 40px!important
}

.mr50 {
    margin-right: 50px!important
}

.mr60 {
    margin-right: 60px!important
}

.mr70 {
    margin-right: 70px!important
}

.mr80 {
    margin-right: 80px!important
}

.mr90 {
    margin-right: 90px!important
}

.mr100 {
    margin-right: 100px;
}

.mr110 {
    margin-right: 110px;
}

.blue {
    color: #17345f!important;
}
.darkBlue {
    background-color: #163560 !important;
}
.blue-text.text-darken-4 {
    color: #16355f !important;
}

.orange-text {
    color: #e74800;
}
.small.text{
    font-size: 13px;
}
.mt-0{
    margin-top: 0!important;
}

.btn-block {
    width: 100%;
}
.ribon {
    background: url(https://e-shoes.gr/skin/frontend/smartwave/porto/images/tag-ekptosis.png) no-repeat;
    position: absolute;
    background-size: 49px;
    padding: 14px 10px;
    color: #e6522f;
    font-weight: bold;
    font-size: 12px;
}
.tabs .tab a {
    color: #555;
    font-size: 12px;
    /*Custom Text Color*/
}

.tabs-content{
    font-size: 12px;
}
.tabs .tab a:hover {
    color:#555;
    /*Custom Color On Hover*/
}
.tabs .tab a:focus.active {
    color:#555;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color:#555;
    /*Custom Color Of Indicator*/
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #e0e0e059;
    color: #444;
    font-weight: bold;
}


i.fab, i.fa {
    padding-top: 1px;
    top: 0;
    vertical-align: super;
    font-size: 20px;
}


select {
    border-radius: 0!important;
    height: 2.6rem;
}

/*breadcrumb*/
.breadcrumb:last-child {
    color: #18365f;
}

a.breadcrumb {
    color: #18365f!important;
    font-size: 12px;
}
/*endbreadcrumb*/
/*nav*/
nav#mainnav {
    background: #fff;
}
nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    color: #2c486e;
}

#mainnav  .navliks {
    width: 100%;

}
.flex {
    display: flex;
    flex-wrap: wrap;
}
#mainnav  .navliks li {
    flex-grow: 1;
    position: relative;
    text-align: center;
}
#mainnav  .navliks li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    height: 10px;
    border-left: 1px solid #ccccc2;

}

#mainnav  .navliks li:first-child, #mainnav .navliks li:last-child {
    border-left: none;
}

#mainnav  .navliks {
    display: flex;
    flex-direction: row;
}



.blue-grey.lighten-5 {
    background-color: #f0f0ed!important;
}



.navliks li a.active {
    color: #fff !important;
    background: #18365f;
}

.navliks li a {
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (min-width: 601px)
{
    nav.nav-extended .nav-wrapper {
        min-height: 50px;
    }

    .navliks li a {
        line-height: 50px;
    }
}

/*endnav*/
span.orange-text.headertext {
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding-left: 60px;
    line-height: 1em;
}

span.shipping.headertext {
    color: #17345f;
    display: block;
    font-weight: bold;
    padding-left: 19px;

    line-height: 1em;
}

span.ordercost.headertext {
    display: inline-block;
    font-size: 13px;
    collapse: #17345f!important;
}

span.to-kalathi-mou {
    position: relative;
    top: -12px;
    color: #787d7f;
    font-size: 12px;
}


/*span.headertext {*/
/*    display: inline-block;*/
/*    font-size: 12px;*/
/*}*/

.right-align.relative {
    position: relative;
}

span.itemsInCart {
    position: absolute;
    right: 20px;
    top: 21px;
    color: #222;
    font-weight: bold;
    color: #183760;
}

/*category page*/
.productCode.left-align {
    margin-bottom: 4px;
}

.row.productsListing .productItem {
    /* background: red; */
    padding: 10px;
}

.row.productsListing .productItem:hover {
    /* transform: scale(1.02); */
    /* transition: all 0.3s ease; */
    /*background: #eaeaea;*/
    /*border: solid 1px #eee;*/
    /* border: solid 1px #eee; */
    box-shadow: 3px 0px 10px #dbdbdb;
}


.row.productsListing .productItem {
    transition: all 0.3s ease;
}

.productCode {
    font-size: 10px;
}

.productTitle {
    font-size: 17px;
}

.productListingPrice {
    font-size: 17px;
    font-weight: bold;
    color: #16355f;
}


.checkbox-orange[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}
span.categoryHeader {
    font-weight: bold;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}
.breadcrump {
    margin-bottom: 16px;
    height: 25px;
}

.breadcrumb:before {
    color: #222;
    font-size: 10px;
    line-height: 2.6em;
}

a.breadcrumb {
    color: #222;
    font-size: 12px;
}



.pagination li.active {
    background-color: #31bec9;
}

.pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1rem;
    padding: 0 9px;
    line-height: 30px;
}

.filters, .filters span {
    font-size: 12px!important;
}

/*footer*/

footer {
    background-color: #163560 !important;
}
/*end footer*/

/*preheader*/

.row.preheader .icons a {
    padding: 0 5px;
    line-height: 3em;
}

div#search button {
    border: none;
    color: #ddd;
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 17px;
    background: transparent;
    cursor: pointer;
}

div#search {
    position: relative;
}

div#search input {
    border: solid 1px #eee;
    height: 1.3em;
    padding: 5px;
}

.row.preheader {
    padding-top: 14px;
}

.chip {
    border-radius: 0;
    border: solid 1px #ccc;
    padding: 0px 10px;
    background: #fff;
}

.logo {
    /*padding: 0 45px;*/
}

img {
    width: 100%;
}
.innerProductTitle{
    font-size: 22px;
}
.sku{
    color: #777;
}

.innerProductPrice {
    font-size: 36px;
    color: #18365f;

    font-weight: 600;
    vertical-align: middle;
    line-height: 1;
}
.current {
    border: solid 1px #eee;
    padding: 0px;
}
.card-content.p-0 {
    padding-left: 0;
    padding-right: 0;
}
h1.small {
    font-size: 20px;
    font-weight: 600;
}
button.unstyled.trunsparent {
    background: transparent;
    border: none;
    padding: 0;
    text-align: center;
}
button.unstyled.trunsparent:hover i {
    color: #af0303;
}

.checkout h2 {
    font-size: 14px;
    font-weight: 600;
    background: #24bec9;
    color: #fff;
    padding: 8px;
}

.sideCartDetails span {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    line-height: 1em;
    padding: 5px 0;
    margin-bottom: 0;
}

.sideCartDetails span + span {
    border-top: solid 1px #eee;
}
.sideCartDetails span b {
    width: 48px;
    display: inline-block;
}
p.title{
    padding-left: 10px;
    font-weight: 700;
    font-size: 20px;
}
.pointer{
    cursor: pointer;
}
li.title a {
    font-weight: 600;
}
.dropdown-content ul li a {
    color: #222;
}

.dropdown-content li {
    min-height: 30px;
}
.filter-block {
    max-height: 300px;
    overflow-y: scroll;
}

#mainnav .dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 5px 16px;
}

.section.darkBlue.p-0 {
    padding: 0;
}

.section.darkBlue p {
    padding: 7px;
    margin: 0;
}
.section.darkBlue {
    margin: 0;
    padding: 0;
    margin-top: -20px;
}
.dropdown-content li>a, .dropdown-content li>span {
    padding: 5px 10px;
}
.text-center{
    text-align: center;
}
.darkBlue{
    background: #163560 !important;
}

.callus {
    font-size: 24px!important;
    padding: 15px;
    font-weight: 800;
}
.free.shipping span {
    font-size: 19px;
    font-weight: 700;
}
.cyprusTextShipping span, .paymentMethodText span {
    font-size: 19px;
    font-weight: 700;
}
.panel.darkBlue {
    padding: 24px 0px;
    min-height: 102px;
    font-size: 12px;
}
.lightblue {
    background: #31bec9;
}

.darkblue-text{
    color: #163560 ;
}
.min-height{
    min-height: 400px;
}

/*hover effect*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 100%;
    max-width: 310px;
    max-height: 98%;
    width: 100%;
    /*background: #000000;*/
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
    max-width: 100%;
    position: relative;
    opacity: 0.8;
}

figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

figure.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 23px;
    width: 200px;
}

figure.snip1104 h2 span {
    font-weight: 800;
}

/*figure.snip1104:before {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    content: '';*/
/*    background: #ffffff;*/
/*    position: absolute;*/
/*    -webkit-transition: all 0.3s ease-in-out;*/
/*    transition: all 0.3s ease-in-out;*/
/*    -webkit-transform: rotate(110deg) translateY(-50%);*/
/*    transform: rotate(110deg) translateY(-50%);*/
/*}*/

figure.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip1104.blue {
    background: #123851;
}

figure.snip1104.blue h2 {
    background: #0a212f;
}

figure.snip1104.red {
    background: #581a14;
}

figure.snip1104.red h2 {
    background: #36100c;
}

figure.snip1104.yellow {
    background: #7f5006;
}

figure.snip1104.yellow h2 {
    background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
}
