<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row >
                    <v-col cols="10">
                        Αρ. Παραγγελίας: {{order.order_num}}
                        <v-expansion-panels md="4" v-model="panel"  multiple  v-if="order != undefined">
                            <v-expansion-panel>
                               <v-row>
                                   <v-col>
                                       <v-expansion-panel-header>Λεπτομέρειες</v-expansion-panel-header>
                                       <v-expansion-panel-content  >
                                           <v-text-field v-model="order.order_num"   label="Αρ. Παραγγελίας" required></v-text-field>
                                           <v-text-field v-if="order.created_at" v-model="order.created_at"   label="Ημ/νια" required></v-text-field>
                                           <v-text-field v-model="order.ip"   label="Ip" required></v-text-field>
                                           <v-text-field v-model="order.payment_id"   label="Τρόπος Πληρωμής" required></v-text-field>
                                           <v-text-field v-model="order.shipping_id"   label="Τρόπος Αποστολή" required></v-text-field>
                                       </v-expansion-panel-content>
                                   </v-col>
                                   <v-col>
                                       <v-expansion-panel-header>Χρήστης</v-expansion-panel-header>
                                       <v-expansion-panel-content  >
                                           <v-text-field v-model="order.user.name"   label="Όνομα" ></v-text-field>
                                           <v-text-field v-model="order.user.lastname"   label="Επωνυμο" ></v-text-field>
                                           <v-text-field v-model="order.user.email"   label="Email" ></v-text-field>
                                           <v-text-field v-model="order.user.mobile"   label="Τηλέφωνο" ></v-text-field>
                                       </v-expansion-panel-content>
                                   </v-col>
                               </v-row>
                            </v-expansion-panel>

                            <v-expansion-panel>
                               <v-row>
                                   <v-col>
                                       <v-expansion-panel-header>Στοιχεία Χρέωσης</v-expansion-panel-header>
                                       <v-expansion-panel-content  >
                                           <v-text-field v-model="order.details.billing_name"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_lastname"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_region"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_city"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_street"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_zip"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_street_number"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.billing_mobile"   label="Όνομα" required></v-text-field>
                                       </v-expansion-panel-content>
                                   </v-col>
                                   <v-col>
                                       <v-expansion-panel-header>Στοιχεία Αποστολής</v-expansion-panel-header>
                                       <v-expansion-panel-content  >
                                           <v-text-field v-model="order.details.shipping_name"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_lastname"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_region"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_city"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_street"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_zip"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_street_number"   label="Όνομα" required></v-text-field>
                                           <v-text-field v-model="order.details.shipping_mobile"   label="Όνομα" required></v-text-field>
                                       </v-expansion-panel-content>
                                   </v-col>
                               </v-row>
                            </v-expansion-panel>

                            <v-expansion-panel>
                                <v-expansion-panel-header>Προϊόντα</v-expansion-panel-header>
                                <v-expansion-panel-content >
                                    <v-simple-table>
                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Όνομα</th>
                                                <th class="text-left">Sku</th>
                                                <th class="text-left">Τιμή</th>
                                                <th class="text-left">Τμχ</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="product in orderProducts" :key="product.id">
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.sku }}</td>
                                                <td>{{ product.price }}</td>
                                                <td>{{ product.quantity}}</td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>

                                    <v-divider></v-divider>
                                    <v-card color="red lighten-2" dark>

                                        <v-btn icon>
                                            <v-icon>mdi-dots-vertical</v-icon>
                                        </v-btn>
                                        <v-card-text>
                                            <v-autocomplete
                                                :items="products"
                                                :loading="isLoading"
                                                :search-input.sync="search"
                                                color="white"
                                                hide-no-data
                                                hide-selected
                                                item-text="Description"
                                                item-value="API"
                                                label="Αναζήτηση Προϊόντων"
                                                placeholder="Start typing to Search"
                                                prepend-icon="mdi-database-search"
                                                return-object
                                            ></v-autocomplete>
                                        </v-card-text>
                                        <v-divider></v-divider>
                                        <v-expand-transition>
                                            <v-list v-if="products" class="red lighten-3">
                                                <v-list-item v-for="(product, i) in products" :key="i">
                                                    <v-list-item-content >
                                                        <v-list-item @click="addToProducts(product)">
                                                            <v-list-item-title>{{ product.product.title.el }}</v-list-item-title>
                                                        </v-list-item>
                                                        <v-list-item-title @click="alert(product.id)" v-text="product.title"></v-list-item-title>
                                                        <v-list-item-subtitle v-text="product.sku"></v-list-item-subtitle>
                                                    </v-list-item-content>
                                                </v-list-item>
                                            </v-list>
                                        </v-expand-transition>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn :disabled="!model" color="grey darken-3" @click="model = null">
                                                Clear
                                                <v-icon right>mdi-close-circle</v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>


                                </v-expansion-panel-content>
                            </v-expansion-panel>


                        </v-expansion-panels>
                    </v-col>
                    <v-col cols="2">

                        <span>
                            ΚΟΣΤΟΣ ΠΑΡΑΓΓΕΛΙΑΣ
                            {{order.details.total}}€
                            {{order.details.sub_total}}€
                        </span>


                        <v-select
                            :items="['pending', 'success', 'canceled']"
                            label="Κατάσταση"
                            v-model="order.status"
                        ></v-select>
                        <v-btn class="ma-2" outlined color="indigo">ΕΝΗΜΕΡΩΣΗ</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<!--{-->
<!--"id": 1,-->
<!--"order_num": 1,-->
<!--"ip": "192.168.10.1",-->
<!--"user_id": 1,-->
<!--"shipping_id": null,-->
<!--"tracking_number": null,-->
<!--"comment": "sdf",-->
<!--"admin_comment_id": null,-->
<!--"slug": "a65813066511b94bbf2b24498ce18b1e1594318556",-->
<!--"created_at": "2020-07-09T18:15:56.000000Z",-->
<!--"updated_at": "2020-07-09T18:15:56.000000Z",-->
<!--"details": {-->
<!--"id": 1,-->
<!--"order_id": 1,-->
<!--"status": "pending",-->
<!--"invoice_id": null,-->
<!--"payment_id": 0,-->
<!--"shipping_id": 0,-->
<!--"total": 158,-->
<!--"sub_total": 158,-->
<!--"billing_name": "Giannisq",-->
<!--"billing_lastname": "Sakkoulas",-->
<!--"billing_country_id": 1,-->
<!--"billing_region": "Heraklion",-->
<!--"billing_city": "Heraklion",-->
<!--"billing_street": "P Foumi, 23",-->
<!--"billing_zip": "71307",-->
<!--"billing_street_number": "23",-->
<!--"billing_phone": "6936780044",-->
<!--"billing_mobile": "6936780044",-->
<!--"shipping_country_id": 1,-->
<!--"shipping_region": "Heraklion",-->
<!--"shipping_city": "Heraklion",-->
<!--"shipping_street": "P Foumi, 23",-->
<!--"shipping_zip": "71307",-->
<!--"shipping_street_number": "23",-->
<!--"shipping_phone": "6936780044",-->
<!--"shipping_mobile": "6936780044",-->
<!--"shipping_name": "Sakkoulas",-->
<!--"shipping_lastname": "Sakkoulas",-->
<!--"created_at": "2020-07-09T18:15:56.000000Z",-->
<!--"updated_at": "2020-07-09T18:15:56.000000Z"-->
<!--},-->
<!--"user": {-->
<!--"id": 1,-->
<!--"name": "Gianni",-->
<!--"lastname": "Sakkoulas",-->
<!--"email": "sakkoulas@gmail.com",-->
<!--"email_verified_at": null,-->
<!--"mobile": "6936780044",-->
<!--"phone": "",-->
<!--"subscribed": 0,-->
<!--"newsletter": 0,-->
<!--"created_at": "2020-06-22T18:21:37.000000Z",-->
<!--"updated_at": null-->
<!--},-->
<!--"products": [-->
<!--{-->
<!--"id": 1,-->
<!--"order_id": 1,-->
<!--"product_id": 151,-->
<!--"stock_id": 37,-->
<!--"name": "test1",-->
<!--"sku": "test1",-->
<!--"price": 79,-->
<!--"quantity": 2,-->
<!--"created_at": "2020-07-09T18:15:56.000000Z",-->
<!--"updated_at": "2020-07-09T18:15:56.000000Z",-->
<!--"order_detail_id": 1,-->
<!--"laravel_through_key": 1-->
<!--}-->
<!--]-->
<!--}-->

<script>
    import navbar from "../elements/navbar";
    import calculator from "../elements/calculator";
    import inventory from "../elements/inventory";
    import draggable from 'vuedraggable'

    export default {
        components: {navbar, calculator, draggable, inventory},
        props: ['order'],
        data: () => ({
            model: null,
            panel: [0,1,2],  //set active expansion
            selectedProducts: null,
            //outocmplete
            entries: [],
            isLoading: false,
            products: [],
            search: null,
            orderProducts: [],
        }),
        methods: {
            addToProducts(product){
              console.log(product);
              this.orderProducts.push({
                  'created_at': '123',
                  'id': '123',
                  'laravel_through_key': '123',
                  'name': '123',
                  'order_detail_id': '123',
                  'order_id': '123',
                  'price': '123',
                  'product_id': '123',
                  'quantity': '123',
                  'sku': '123',
                  'stock_id': '123',
                  'updated_at': '123',

              })
            },
            update(){
                var self = this;
                axios.post('/manage/order/update/'+self.order.id, self.order)
                    .then(function (response) {

                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            searcy(){

            }
        },

        watch: {
            search(val) {

                if(val.length < 4){
                    return;
                }
                var self = this;
                axios.post('/manage/products/search/', {search: self.search})
                    .then(function (response) {
                        self.products = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        mounted() {
            console.log(this.order)
            this.orderProducts = this.order.products
        }
    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
    .v-expansion-panel {
        border-bottom: solid 1px #eee;
    }

</style>

