<template>
    <v-app id="keep">
        <navbar></navbar>
        <v-content>
            <v-container  fluid>
                <v-row >
                    <v-col cols="10">
                        <v-expansion-panels  v-model="panel"  multiple flat>
                            <v-expansion-panel>
                                <v-expansion-panel-header>General</v-expansion-panel-header>
                                <v-expansion-panel-content  >
                                    <v-text-field v-model="item.title"  label="Title" required></v-text-field>
                                    <div v-if="success != ''" class="alert alert-success" role="alert">
                                        {{success}}
                                    </div>
                                    <form @submit="formSubmit" enctype="multipart/form-data">
                                        <strong>Name:</strong>
                                        <input type="text" class="form-control" v-model="name">
                                        <strong>Image:</strong>
                                        <input type="file" class="form-control" v-on:change="onImageChange">

                                        <button class="btn btn-success">Submit</button>
                                    </form>


                                    <v-simple-table>

                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">Created At</th>
                                                <th class="text-left">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="media in images" :key="media.id">
                                                <td><img width='130' :src="'/storage/'+media.url" alt=""></td>

                                                <td>{{ media.created_at }}</td>
                                                <td><button @click="removeImage(media)"> Delete</button></td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-expansion-panel-content>
                            </v-expansion-panel>

                        </v-expansion-panels>
                    </v-col>
                    <v-col cols="2">
                        <v-switch v-model="item.is_active" :label="`Αctive: ${item.is_active.toString()}`"></v-switch>
                        <v-progress-linear
                            v-if="saveProductLoader"
                            color="deep-purple accent-4"
                            indeterminate
                            rounded
                            height="6"
                        ></v-progress-linear>
                        <v-btn v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ</v-btn>

                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import navbar from "../elements/navbar";
    import calculator from "../elements/calculator";
    import inventory from "../elements/inventory";
    import draggable from 'vuedraggable'

    export default {

        components: {},
        props: ['slider'],
        data: () => ({
            saveProductLoader:0,
            panel: [0],  //set active expansion
            item: {
                'title': null,
                'name': null,
                'is_active': 0,
                'item_type': 'simple',
            },
            name: '',
            images: [],
            image: '',
            success: ''
        }),
        methods: {
            removeImage(image){
                var self = this;
                axios.get('/manage/sliders/'+self.image.id+'/destroy')
                    .then(function (response) {
                        // show alert product update
                       self.getImages();
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                });
            },
            create(){
                var self = this;
                this.saveMessages = [];
                axios.post('/manage/sliders/store', this.item)
                    .then(function (response) {
                        // show alert product update
                        console.log(response.data)
                        window.location.href = "/manage/sliders/"+response.data.id;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                });
            },
            getImages(){
                var self = this;

                axios.get('/manage/sliders/'+self.slider.id+'/images', )
                    .then(function (response) {
                        // show alert product update
                        self.images = response.data;

                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    }).then(function () {

                });
            },
            onImageChange(e){
                console.log(e.target.files[0]);
                this.image = e.target.files[0];
            },
            formSubmit(e) {
                var self = this;
                e.preventDefault();
                let currentObj = this;

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }

                let formData = new FormData();
                formData.append('image', this.image);

                axios.post('/manage/sliders/'+self.slider.id+'/image', formData, config)
                    .then(function (response) {
                        self.images = response.data;
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            }

        },
        mounted() {
            this.getImages();

        }

    }
</script>

<style>
    #keep .v-navigation-drawer__border {
        display: none
    }
    .v-expansion-panel {
        border-bottom: solid 1px #eee;
    }

</style>

