<template>
    <div>

        <v-combobox
            v-model="selected"
            :items="selected"
            label="Κατηγορίες"
            multiple
            chips
            append-icon="expand"
            @click:append="showtree = !showtree"
        ></v-combobox>
        <v-treeview
            v-model="selected"
            v-if="showtree"
            item-text="title"
            activatable
            selected-color="blue"
            :items="categories"
            selection-type="independent"
            selectable
        >
        </v-treeview>
    </div>
</template>


<script>
import navbar from "../manage/elements/navbar";

export default {
    components: {navbar},
    name: 'categorytree',
    props: [],
    data: () => ({
        showtree: false,
        selected: [],
        categories: [],
        productcategories: [],
    }),
    methods: {
        getCategories: function(){
            var self = this;
            axios.get('/manage/categories_list_json')
                .then(function (response) {

                    var cat = response.data;
                    cat.unshift({'title': 'Root', 'id': 0, 'parent_id': 0})
                    self.categories = cat;

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },

    },
    watch: {
        selected() {
            this.$emit('input', this.selected)
        },
    },
    mounted() {
        this.getCategories();
    }
}
</script>
